body {
  background-image: url("img/Black_background-2.jpg");
  color: blue;
}

header {
  font-family: 'Lora', serif;
  text-align: center;
  color: #7e833d;
  border-bottom: 1px solid #7e833d;
}

h1 {
  font-size: 100px;
}

h2 {
  font-size: 30px;
}

h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 40px;
  text-decoration: underline;
}

p {
  font-family: 'Scope One', serif;
  margin: 10px auto;
  font-size: 32px;
  width: 600px;
}

section {
  color: #c0c1b2;
  text-align: center;
}

button {
  background-color: #999;
  margin-top:50px;
  font-size: 40px;
  width: 200px;
  height: 100px;
  border: 3px solid black;
  border-radius: 25px;
}

button:hover {
  background-color: #999;
  color: green;
  font-size: 40px;
  width: 200px;
  height: 100px;
  border: 3px solid green;
  cursor: pointer;
  border-radius: 25px;
}

#runningCounter {
  margin-top: -50px;
  margin-bottom: 50px;
}

#link {
  font-family: 'Scope One', serif;
  margin: 10px auto;
  font-size: 32px;
  width: 600px;
}

#link:hover {
  font-family: 'Scope One', serif;
  margin: 10px auto;
  font-size: 32px;
  text-shadow: 5px 5px #444;
  width: 600px;
  cursor: pointer;
}

li {
  display: inline;
  margin: 10px;
}

.hidden {
  visibility: hidden;
  height: 5px;
}

img {
  margin: 0 auto;
  height: 300px;
  width: 300px;
  box-shadow: 0 0 20px #777777;
}

img:hover {
  box-shadow: 0 0 20px gold;
  margin: 0 auto;
  height: 300px;
  width: 300px;
  cursor: pointer;
}

table {
  margin: 0 auto;
  font-size: 18px;
  color: white;
  text-align: center;
  border: 1px solid white;
  vertical-align: middle;
  padding: 3px;
  }

tr:nth-child(even){
  background-color: gray;
}

th {
  font-size: 20px;
  width: 40px;
  margin: 5px;
  padding: 3px;
  border: 1px solid white;
}

th:last-child {
  width: 100px;
  margin: 5px;
  padding: 3px;
  border: 1px solid white;
}

td {
  padding: 3px;
  border: 1px solid white;
}

div.chartjs {
  display: inline-block;
  margin-top: 80px;
  width: 500px;
  height: 300px;
}

canvas {
  width: 50px;
  height: 50px;
}
