body {
  background: gray;
  color: blue;
}

header {
  background: orange;
}

h1 {
  display: block;
  margin: 0 auto;
  font-size: 50px;
}

h2 {  margin: 0 auto;
  font-size: 30px
}

ul {
  width: 960px;
}

li {
  display: inline;
  margin: 10px;
}

img {
  height: 200px;
  width: 200px:
}
